@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
    background-image: url(Internacional.png), url(grama.jpg);
    background-position:bottom right ,top left;
    background-repeat: no-repeat, repeat;
    background-size: 300px, auto;
    position: relative;
}
#div1
{
    width: 500px;
    font-family: Open Sans;
    height: 200px;
    background-color: green;
    border-radius: 20px 10px 50px ;
    padding: 20px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    opacity: 0.8;
    box-shadow: 5px 5px white;
    -webkit-column-count:3;
    
}
@media only screen and (max-width: 500px) {
    #div1 {
       width: 300px;
    }
}